@model Time

<div class="container main-form">
    <h2 class="form-body-title">Add Time</h2>
    <div class="row form-group">
        <form asp-action="Create" method="post" role="form" class="form-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-4">
                <label asp-for="UserId" class="form-label">Username</label>
                <input asp-for="UserId" class="form-control" id="username" value="@User.Identity.Name" readonly/>
            </div>
            <div class="col-md-4">
                <label asp-for="ClockIn" class="form-label">Clock In Time</label>
                <input asp-for="ClockIn" class="form-control" id="clockin" placeholder="HH:MM"/>
                <span asp-validation-for="ClockIn" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ClockOut" class="form-label">Clock Out Time</label>
                <input asp-for="ClockOut" class="form-control" id="clockout" value="@DateTime.Now.ToString("HH:mm")"/>
                <span asp-validation-for="ClockOut" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Date" class="form-label">Today's Date</label>
                <input asp-for="Date" class="form-control" id="date" value="@DateTime.Today.Date.ToString("d")" />
            </div>
            <div class="col-md-4">
                <label asp-for="TaskNotes" class="form-label">Task Notes</label>
                <textarea asp-for="TaskNotes" class="form-control" id="tasknotes" placeholder="Enter your task notes here"></textarea>
            </div>
            <div class="col-md-4 pt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>


