@model Time

<div class="container panel-body">
    <h2>Export Time</h2>
    <div class="row">
        <form asp-action="ExportToCSV" method="post" role="form">
            <div class="col-md-4">
                <label asp-for="UserEmail" class="form-label">Username</label>
                <input name="user" class="form-control" id="username" value="@User.Identity.Name"/>
            </div>
            <div class="col-md-4">
                <label class="form-label">Start Date Range</label>
                <input name="startDate" class="form-control" id="startdate" placeholder="@DateTime.Today.Date.ToString("d")"/>
            </div>
            <div class="col-md-4">
                <label class="form-label">End Date Range</label>
                <input name="endDate" class="form-control" id="enddate" placeholder="@DateTime.Today.Date.ToString("d")" />
            </div>
            <div class="col-md-4 pt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>